* {
    overflow-x: hidden;
}

:root {
    --text: #1a110d;
    --background: #fcfaf9;
    --primary: #ae7563;
    --secondary: #d1d0a7;
    --accent: #b8c086;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100vw;

    color: var(--text);
    background-color: var(--background);
}

.home-desc-img {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin: 2rem 0;
    overflow: hidden;
    color: var(--text);
}

.home-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.home-desc-1 {
    font-family: "Poppins", sans-serif;
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
    color: var(--text);
}
.home-desc-2 {
    font-size: 1rem;
    margin: 0;
    font-style: italic;
    color: var(--text);
}

.home-description p {
    text-align: center;
}

.home-main-image {
    display: flex;
    justify-content: center;
    width: 40%;
}
.home-main-image img {
    object-fit: contain;
    filter: invert();
}

.home-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
}
.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    width: 12rem;
    height: 16rem;
    margin: 1rem;
    border: 1px white solid;
    transition: 0.3s ease-in-out;
    font-size: 1.4rem;
    border-radius: 4px;
}

.feature-card img {
    height: 60%;
    scale: 0.6;
}

.feature-card p {
    width: 100%;
    height: 40%;
    text-align: center;
    margin: 0;
    color: var(--text);
}

.feature-card:hover {
    transform: translateY(-10%);
    box-shadow: 0 0 16px 6px rgb(0, 0, 0, 0.5);
}
