a {
    /* text-decoration: none; */
    color: white;
}

.signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.signup form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1rem 4rem;
    margin: 1rem;
}
